body{
		text-align: center;
   }
   label {	
		width:100px;
		display: inline-block;
	}
	div{
		display: inline-block;
	}
	.nav {
		display: inline-block;
		border-radius: 7px;
		padding: 7px 10px;
		border-left: 12px solid #E45231;
		border-right: 12px solid #E45231;
		background-color: lightgrey;
	}
	input[type=button]{
		background-color: #E45231;
		border: solid #E45231;
		color: white;
		padding: 7px 15px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
	}
	input[type=button]:hover{
		background-color: white;
		color: #E45231;
	}
	table {
		border-collapse: collapse;
	}
	td{
		width:100px;
		padding: 2px 5px;
		text-align: left;
	}
	th {
		height: 25px;
	}
	table td.del {
		width: 0;
	}
	table td.num {
		width: 75px;
		text-align: center;
	}